.profile-container {
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 28px 0;
  // height: 100%;

  @media (min-height: 821px) {
    height: inherit;
  }
  
  .bio-content {
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 0 28px;
  }

  .btn-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;

    img {
      cursor: pointer;
    }
  }

  .ocupation {
    margin-bottom: 20px;
  }

  .preferences {
    margin-top: 20px;
  }
}
