.profile-container {
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .btn-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 26px;

    img {
      cursor: pointer;
    }
  }
}
