.profile-container {

    .btn-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 26px;
        span {
            color: #ffffff;
            width: 20.36px;
            height: 20.36px;
            font-size: 30px;
            text-align: center;
          }
    }
  
}
