//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import "../../styles/fonts.scss";

.containerNotificacao {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 16px 24px 0px 24px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  .image {
    padding: 5px 9px 5px 8px;
  }
  .text {
    margin: 8px 5px 8px 0px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.02em;
  }
}
.containerAgenda {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 16px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  .image {
    padding: 9px 18px;
  }
  .text {
    margin-right: 9px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.02em;
  }
}

.container-matches {
  display: flex;
  width: 256px;
  height: 50px;
  flex-direction: row;
  align-items: center;
  background-image: url("../../assets/icons/Chat.png");
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 40px;

  .image {
    padding: 0 7.72px 0 12.17px;
  }

  .text {
    margin: 0 24px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: 0.02em;
  }
}

.login-content {
  background: #ffffff;
  width: 335px;
  height: 278px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  //justify-content: center;
}

.container-profile {
  background: #fbfbfb;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: inherit;
  max-width: 335px;

  @media (min-width: 750px) {
    max-width: 600px;
  }

  .text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 1;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #184177;
  }
}
