.imageUpload {
  display: flex;
  flex-direction: column;
  align-items: center;

  #imagem{
    width: 108.61px;
    cursor: pointer;
  }

  #fileInput {
    visibility: hidden;
  }

}

