@import "../../styles/fonts.scss";

.step-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 18px 0 38px;
  border: 1px #fbfbfb;

  h1 {
    height: 28px;
    margin-left: 25px;
    color: #fbfbfb;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.02em;
    font-family: "Baloo Tamma 2";
    cursor: default;
  }

  img {
    height: 16px;
    margin-right: 24px;
  }
}

.flex-start{
  justify-content: flex-end;
  flex-direction: row-reverse;

  h1{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    margin-left:4.54px;
    height: auto;
  }

  img{
    width: 22px;
    margin-right: 0;
  }
}