@import "../../styles/fonts.scss";

.step-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  max-width: 375px;
  height: 69px;
  border: 1px #fbfbfb;
  background: linear-gradient(
    180deg,
    #87e4c7 3.05%,
    #2767bc 102.69%,
    #2767bc 102.69%
  );

  h1 {
    height: 28px;
    margin-left: 25px;
    color: #fbfbfb;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.02em;
    font-family: "Baloo Tamma 2";
  }

  img {
    width: 88px;
    height: 16px;
    margin-right: 25px;
  }
}
