.checkboxFunction{
  max-width: 335px;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  .checkBox{
    margin-right: 34px;
  }
  .label, ::placeholder{
    color: #2767BC;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.02em;
  }
  .inputCheck{
    margin-top: 40px;
  }
}