@import "../../styles/fonts.scss";
@import "../../pages/RegisterFirstStep/RegisterFirstStep.scss";

.input-text{
    position: relative;
    font-family: "Inter";
    margin-top: 16.39px;
    
    .label{
        z-index:1;
        font-size:14px;
        font-weight: 700;
        line-height: 21px;
        margin-left:47.43px;
    }

    .input{
        width: 300px;
        outline: none;
        border-top: none;
        border-left: none;
        border-right: none;
        position: absolute;
        left:38px;
        line-height: 21px;
        background-color: transparent;
        padding-bottom: 5px;
        padding-left:9px;
        transition: all 0.2s ease-out;
        font-weight: 500;
    }

    .focus{
        padding-top:6px;
        padding-bottom:5px;
        transform: translateY(+20px);
    }

    .input-bio{
        left:0;

        + .label{
            margin-left:9px;
        }
    }
    
}
