@import '../../styles/variables.scss';

.registerHeader {
    background: linear-gradient(to bottom, $primary-1, $primary-2);
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto 30px;
    box-shadow: $box-shadow1;
    border-radius: 0 0 200px 60%/50px;
}
