@import '../../styles/variables.scss';



.registerHeader {
    // background-image: url('../../assets/images/half-background.png'); 
    background: linear-gradient(to bottom, $primary-1, $primary-2);
    background-repeat: no-repeat;
    position: absolute;
    min-width: 370px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    min-height: 300px;
    box-shadow: $box-shadow1;
    border-radius: 0 0 200px 60%/50px;
}