
.searchProfile-content{
    .header-title h1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main{

        .label.tipo{
            font-size:18px;
        }
    }

}
